[package]
name = "wordle"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "~ 0.8.5"
tui = "~ 0.17.0"
crossterm = "~ 0.17.0"
clap = { version = "~ 3.1.6", features = ["derive"] }

